<h1 class="text-center">Cadastro de Livros: </h1>

<form action="/books/insert" method="post" class="form-control">
    <label for="title">
        <input type="text" id="title" name="title" placeholder="Título do livro">
    </label><br><br>
    <label for="pageqnty">
        <input type="text" id="pageqnty" name="pageqnty" placeholder="Numero de páginas do livro">
    </label><br><br>
    <input type="submit" value="Enviar">
</form>