<div class="row justify-content-around text-center align-items-center mt-5 gx-0">
    <div class="col-md-4">
        <figure>    
            <img src="/imgs/Arbeit-3.jpg" alt="Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes, e nos colocamos como opção na gestão de negócios terceirizáveis." class="img-fluid">
            <figcaption class="fig-text">
                Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes, e nos colocamos como opção na gestão de negócios terceirizáveis.
            </figcaption>
        </figure>
        
    </div>
    <div class="col-md-5">
        <p>
            O grupo Arbeit-Ajax vem atuando no mercado de prestação de serviços desde 1993, e neste tempo atendendo a
            clientes de pequeno, médio e grande porte nos mais diversos tipos de segmentos.

            Nossa Empresa conta com um grupo de profissionais altamente treinados e qualificados prontos a prestar
            assessoria a um mercado competitivo e altamente exigente.

            Dispomos de um banco de dados constantemente atualizado, com os mais diversos níveis de profissionais em
            diferentes áreas. Nosso objetivo é construir novas parcerias trazendo soluções em âmbitos de seu interesse.
        </p>
    </div>
</div>