<script>
    const home = document.querySelector('.home')
    const contact = document.querySelector('.contact')
    const jobs = document.querySelector('.jobs')
    const currentPage = window.location.pathname
    if (currentPage == '/') {
        home.classList.add('selected')
        contact.classList.remove('selected')
        jobs.classList.remove('selected')
    }
</script>
<div class="container">
    <div class="row  justify-content-around text-center align-items-center mt-5 gx-0">
        <div class="col-md-4">
            <figure>
                <img src="/imgs/Arbeit-3.jpg"
                    alt="Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes, e nos colocamos como opção na gestão de negócios terceirizáveis."
                    class="img-fluid">
                <figcaption class="fig-text">
                    Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes,
                    e nos colocamos como opção na gestão de negócios terceirizáveis.
                </figcaption>
            </figure>

        </div>
        <div class="col-md-5">
            <p>
                Fundada em 1993, contamos com mais de 29 anos de experiencia no ramo do trabalho terceirizado e mao de
                obra especializada, contamos com mais de 50.000 contratacoes realizadas por nossa empresa
            </p>
        </div>
    </div>
    <div class="row  justify-content-around text-center align-items-center mt-5 gx-0">
        <div class="col-md-5">
            <p>
                Fundada em 1993, contamos com mais de 29 anos de experiencia no ramo do trabalho terceirizado e mao de
                obra especializada, contamos com mais de 50.000 contratacoes realizadas por nossa empresa
            </p>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="/imgs/Arbeit-3.jpg"
                    alt="Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes, e nos colocamos como opção na gestão de negócios terceirizáveis."
                    class="img-fluid">
                <figcaption class="fig-text">
                    Nossa missão é estar sintonizados com um mercado em constante evolução, do qual somos participantes,
                    e nos colocamos como opção na gestão de negócios terceirizáveis.
                </figcaption>
            </figure>

        </div>
    </div>
</div>