<h1 class="text-center">Livros Cadastrados</h1>
<div class="mt-5 border">
    <div class="row text-center">
        <div class="col">
            ID TÍTULO Nº DE PÁG
        </div>
        <div class="col">
            TÍTULO 
        </div>
        <div class="col">
            Nº DE PÁG
        </div>
    </div>
    {{#each books}}
    {{#with this}}
    <div class="row text-center">
        <div class="col">
            {{id}}
        </div>
        <div class="col">
            {{title}}
        </div>
        <div class="col">
            {{pageqnty}}
        </div>
    </div>
    {{/with}}
    {{/each}}
</div>