<section>
    <div class="row text-center justify-content-center gx-0">
        <div class="col-8 bigInk">
            <p class="bigInk">
                O site foi desenvolvido por Luccas Elias de Almeida dos Santos
            </p>
                
            </p>
            <p class="bigInk">
                Foi desenvolvido apenas com a intenção de praticar os fundamentos de Node, toda e qualquer ultilização
                desse código fora de um ambiente de testes será penalizada
            </p>

        </div>
    </div>

</section>