<section>
    <article>
        <div class="row text-center justify-content-center gx-0">
            {{#with prod1}}
            {{> singlePageProd}}
            {{/with}}
        </div>
    </article>
</section>
<div class="row justify-content-center gx-0">
    <div class="col-10">
        <div class="row justify-content-center gx-0">
            <a href="prod2" class="col-3 prodmenu">
                <div class="text-center navmenu">Sapatos</div>
            </a>
            <a href="prod3" class="col-3 prodmenu">
                <div class="text-center navmenu">Meia Calças</div>
            </a>
            <a href="prod4" class="col-3 prodmenu">
                <div class="text-center navmenu">Joias</div>
            </a>
        </div>
    </div>
</div>