<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Shain</title>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="row text-center banner justify-content-center align-items-center">
                <div class="col-8"><h1>SHAIN</h1></div>    
            </div>
            <nav>
                <div class="row justify-content-center gx-0">
                    <div class="col-10">
                        <div class="row justify-content-center gx-0">
                            <a href="/" class="col-3">
                                <div class="text-center navmenu">Home</div>
                            </a>
                            <a href="catalog/prod1" class="col-3">
                                <div class="text-center navmenu">Catalogo</div>
                            </a>
                            <a href="/about" class="col-3">
                                <div class="text-center navmenu">Sobre</div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <h3>
                <div class="row text-center gx-0">
                    <div class="col">
                        <div class="row row-cols-1">
                            <div class="col info"> (11) 1234-4321</div>
                            <div class="col info"> Avenida XYZ, nº000</div>
                            <div class="col info"> Proximo ao Parque CBA</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-cols-1">
                            <div class="col info"> Direitos Reservados a Shain</div>
                            <div class="col info"> Todas as imagens são meramente Ilustrativas</div>
                            <div class="col info"> contato@shain.org</div>
                        </div>
                    </div>
                </div>
            </h3>
        </footer>
    </div>
</body>

</html>