<section>
    <article>
        <div class="row row-cols-2 text-center justify-content-center gx-0">
            {{#each product}}
                {{> prod}}
            {{/each}}
        </div>
    </article>
</section>
